:root {
  font-size: 16px;
  --primary-color: #173b4c;
  --secondary-color: #3f5c69;
  --accent-color: #62f485;
  --text-color: #000000;
  --light-text: #747474;
  --white: #ffffff;
  --shadow: #d1d0d057;
}

.cards-wrapper {
  display: flex;
  margin-left: 13%;
  gap: 1rem;
}

.form-section {
  width: 40%;
  background-color: var(--white);
  border-radius: 15px;
  padding: 0.5rem 1.5rem 1.5rem 1.5rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  max-height: 400px;
}

.form-sectionP {
  width: 60%;
  background-color: var(--white);
  border-radius: 15px;
  padding: 1.5rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  border: 1px solid var(--shadow);
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  color: var(--text-color);
  font-size: 12px;
}

.perfil-form .row {
  margin-bottom: 1rem;
}

.profile-picture img {
  object-fit: cover;
  width: 100%;
  border-radius: 15px;
  margin-bottom: 10%;
}

.btn {
  cursor: pointer;
}

.error-message {
  color: red;
  font-size: 11px;
}
