{% extends 'base.html' %}
{% load static %}
{% block title %}Perfil{% endblock %}

{% block content %}
<main class="cards-wrapper d-flex p-4">
  <!-- Card1 Perfil -->
  <div class="form-sectionP ms-3">
    <div class="profile-picture">
      <div class="user-icon-container" id="userIconContainer">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="fill: rgb(206, 206, 206);"><path d="M12 2C6.579 2 2 6.579 2 12s4.579 10 10 10 10-4.579 10-10S17.421 2 12 2zm0 5c1.727 0 3 1.272 3 3s-1.273 3-3 3c-1.726 0-3-1.272-3-3s1.274-3 3-3zm-5.106 9.772c.897-1.32 2.393-2.2 4.106-2.2h2c1.714 0 3.209.88 4.106 2.2C15.828 18.14 14.015 19 12 19s-3.828-.86-5.106-2.228z"></path></svg>
      </div>
      <img src="" id="profilePhoto" alt="Foto de perfil" style="display: none;" />
      
      <!-- Campo para subir nueva imagen -->
      <div class="mb-3 mt-3">
        <label for="imagenPerfil" class="form-label">Cambiar foto de perfil</label>
        <input type="file" class="form-control" id="imagenPerfil" name="imagenPerfil" accept="image/*">
        <span class="error-message" id="error-imagenPerfil"></span>
      </div>
    </div>
    <div class="form-containerP">
      <div class="d-flex text-center justify-content-between mb-3">
        <h3>Mi Perfil</h3>
      </div>
      <form class="perfil-form" id="profile-form" method="POST">
        {% csrf_token %}
        <div class="row">
          <div class="form-group col-md-6 mb-4">
            <label for="pNombre">Primer nombre<span class="required">*</span></label>
            <input type="text" id="pNombre" name="pNombre" class="form-control" placeholder="nombre" />
            <span class="error-message" id="error-pNombre"></span>
          </div>
          <div class="form-group col-md-6 mb-3">
            <label for="sNombre">Segundo nombre </label>
            <input type="text" id="sNombre" name="sNombre" class="form-control" placeholder="nombre" />
            <span class="error-message" id="error-sNombre"></span>
          </div>
          <div class="form-group col-md-6 mb-3">
            <label for="apePater">Apellido paterno<span class="required">*</span></label>
            <input type="text" id="apePater" name="apePater" class="form-control" placeholder="apellido" />
            <span class="error-message" id="error-apePater"></span>
          </div>
          <div class="form-group col-md-6 mb-3">
            <label for="apeMater">Apellido materno</label>
            <input type="text" id="apeMater" name="apeMater" class="form-control" placeholder="apellido" />
            <span class="error-message" id="error-apeMater"></span>
          </div>
          <div class="form-group col-md-6 mb-3">
            <label for="email">Correo<span class="required">*</span></label>
            <input type="email" id="email" name="email" class="form-control" placeholder="correo" disabled />
            <span class="error-message" id="error-email"></span>
          </div>
          <div class="form-group col-md-6 mb-3">
            <label for="rut">RUT<span class="required">*</span></label>
            <input type="text" id="rut" name="rut" class="form-control" placeholder="Rut" disabled />
            <span class="error-message" id="error-rut"></span>
          </div>
          <div class="form-group col-md-6 mb-3">
            <label for="fechaNacimiento">Fecha de nacimiento:</label>
            <input type="date" id="fechaNacimiento" name="fechaNacimiento" class="form-control" />
            <span class="error-message" id="error-fechaNacimiento"></span>
          </div>
          <div class="form-group col-md-6 mb-3">
            <label for="telefono">Teléfono:</label>
            <input type="text" id="telefono" name="telefono" class="form-control" placeholder="Número de contacto" />
            <span class="error-message" id="error-telefono"></span>
          </div>
        </div>
        <button class="btn btn-success w-100" type="submit">Actualizar</button>
      </form>
    </div>
  </div>
  <!-- Cards laterales, especializacion -->
  <div class="d-flex flex-column flex-shrink-1">
    <div
      style="background-color: white; border-radius: 15px; box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);; padding: 1.5rem;"
      class="mb-3">
      <div class="title mb-3">
        <h5>Especialización</h5>
      </div>
      <form id="especializacion-form" method="POST">
        {% csrf_token %}
        <div class="selection-group">
          <div class="form-group mb-3">
            <label for="especializacion">Especialidad:</label>
            <select id="especializacion" name="especializacion" class="form-select">
              <option value="" selected disabled>Selecciona tus especialidades</option>
              {% for esp in especialidades %}
              <option value="{{ esp.id_especialidad }}">{{ esp.descripcion }}</option>
              {% endfor %}
            </select>
            <span class="error-message" id="error-especializacion"></span>
          </div>
          <div class="selected-items-container" id="especialidades-container"></div>
        </div>
        <div class="text-center">
          <button class="btn btn-success w-50 mt-3" type="submit">Guardar</button>
        </div>    
      </form>
    </div>
    <!-- Cambiar contraseña -->
    <div
      style="background-color: white; border-radius: 15px; box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15); padding: 1.5rem;"
      class="mb-3">
      <div class="title mb-3">
        <h5>Cambiar contraseña</h5>
      </div>
      <form id="password-form" method="POST">
        {% csrf_token %}
        <div class="form-group mb-3">
          <label for="passActual">Contraseña actual:<span class="required">*</span></label>
          <input type="password" id="passActual" name="passActual" class="form-control" placeholder="********"
            required />
          <span class="error-message" id="error-passActual"></span>
        </div>
        <div class="form-group mb-3">
          <label for="passNueva">Nueva contraseña:</label>
          <input type="password" id="passNueva" name="passNueva" class="form-control" placeholder="********" required />
          <span class="error-message" id="error-passNueva"></span>
        </div>
        <div class="form-group mb-3">
          <label for="confirmarPass">Confirmar contraseña:</label>
          <input type="password" id="confirmarPass" name="confirmarPass" class="form-control" placeholder="********"
            required />
          <span class="error-message" id="error-confirmarPass"></span>
        </div>
        <div class="text-center">
          <button class="btn btn-success w-50" type="submit">Actualizar contraseña</button>
        </div>
      </form>
    </div>
    <!-- Centros de Atención Registrados -->
    <div id="centros-container"
      style="background-color: white; border-radius: 15px; box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15); padding: 1.5rem;"
      class="mb-3">
      <div class="title mb-3">
        <h5>Centros de atención</h5>
      </div>
      <!-- Aquí se insertarán dinámicamente los centros desde JavaScript -->
      <div id="lista-centros">
        <p class="text-muted">Cargando centros registrados...</p>
      </div>
      <!-- Botón para abrir el modal -->
      <div class="text-center mt-3">
        <button class="btn btn-success mt-2 w-50" data-bs-toggle="modal" data-bs-target="#modalAgregarCentro">
          + Agregar centro de atención
        </button>
      </div>
      <!-- Modal para registrar centro de atención -->
      <div class="modal fade" id="modalAgregarCentro" tabindex="-1" aria-labelledby="modalAgregarCentroLabel"
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <form id="form-agregar-centro">
              <input type="hidden" id="idCentroEditar" />
              <div class="modal-header">
                <h5 class="modal-title" id="modalAgregarCentroLabel">Agregar centro de atención</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
              </div>
              <div class="modal-body">
                <div class="mb-3">
                  <label for="nombreCentro" class="form-label">Nombre del centro</label>
                  <input type="text" class="form-control" id="nombreCentro" name="nombreCentro" required />
                  <div class="invalid-feedback" id="error-nombreCentro"></div>
                </div>
                <div class="mb-3">
                  <label for="direccionCentro" class="form-label">Dirección</label>
                  <input type="text" class="form-control" id="direccionCentro" name="direccionCentro" required />
                  <div class="invalid-feedback" id="error-direccionCentro"></div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-success">Registrar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}

{% block scripts %}
<script src="{% static 'accounts/js/perfil.js' %}"></script>
{% endblock %}