{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro - NutriLink</title>
    <link rel="stylesheet" href="{% static 'accounts/css/registro2.css' %}">
</head>
<body>
    <!-- LOGO -->
    <main class="registro-page">
        <div class="brand-section">
            <div class="logo">
                <img src="{% static 'img/NutrilinkLOGO.svg' %}" alt="Logo de nutrilink">
            </div>
        </div>
        <!-- Seccion bienvenida registro -->
        <div class="container">
            <div class="card">
                <h2 class="title">Regístrate y potencia tus consultas!</h2>
                <p class="subtitle">Comienza a usar nuestra plataforma hoy mismo</p>
                <ul class="benefits">
                    <li> 
                        <img src="{% static 'accounts/img/tick-mark-icon.svg' %}" alt="Visualiza progreso" />
                        Visualiza el progreso de tus pacientes en gráficos.</li>
                    <li> 
                        <img src="{% static 'accounts/img/tick-mark-icon.svg' %}" alt="Visualiza progreso" />
                        Calcula requerimientos calóricos y macronutrientes en segundos.</li>
                    <li> 
                        <img src="{% static 'accounts/img/tick-mark-icon.svg' %}" alt="Visualiza progreso" />
                        Genera minutas rápidamente y más!</li>
                </ul>
                <form id="registro-form" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-col">
                            <div class="form-group">
                                <label for="primerNombre">Primer nombre:<span class="required">*</span></label>
                                <input type="text" id="primerNombre" name="primerNombre" class="form-control" placeholder="Ingresar nombre">
                                <span class="error-message" id="error-primerNombre"></span>
                            </div>
                        </div>
                        <div class="form-col">
                            <div class="form-group">
                                <label for="apellidoP">Primer apellido:<span class="required">*</span></label>
                                <input type="text" id="apellidoP" name="apellidoP" class="form-control" placeholder="Ingresar apellido">
                                <span class="error-message" id="error-apellidoP"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-col" style="flex: 2;">
                            <div class="form-group">
                                <label for="rut">Rut:<span class="required">*</span></label>
                                <input style="font-size: small;" type="text" id="rut" name="rut" class="form-control" placeholder="Rut sin puntos y guión" maxlength="8">
                                <span class="error-message" id="error-rut"></span>
                            </div>
                        </div>
                        <span style="font-size: 1.5rem; padding-top: 30px;">-</span>
                        <div class="form-col" style="flex: 1;">
                            <div class="form-group">
                                <label for="id">Verificador:<span class="required">*</span></label>
                                <input  type="text" id="dv" name="dv" class="form-control" placeholder="Digito" maxlength="1">
                                <span class="error-message" id="error-dv"></span>
                            </div>
                        </div>
                        <div class="form-col">
                            <div class="form-group">
                                <label for="email">Correo:<span class="required">*</span></label>
                                <input type="email" id="email" name="email" class="form-control" placeholder="Ingresar correo">
                                <span class="error-message" id="error-email"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-col">
                            <div class="form-group">
                                <label for="contraseña">Contraseña:<span class="required">*</span></label>
                                <input type="password" id="contraseña" name="contraseña" class="form-control" placeholder="Ingresar contraseña">
                                <span class="error-message" id="error-contraseña"></span>
                            </div>
                        </div>
                        <div class="form-col">
                            <div class="form-group">
                                <label for="confirmarC">Confirmar contraseña:<span class="required">*</span></label>
                                <input type="password" id="confirmarC" name="confirmarC" class="form-control" placeholder="Confirmar contraseña">
                                <span class="error-message" id="error-confirmarC"></span>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn-register">REGISTRARSE</button>
                </form>
                <p class="login-link">Ya tienes cuenta? <a href="{% url 'accounts:login' %}">Iniciar sesión</a></p>
            </div>
        </div>
    </main>
</body>
<!-- SweetAlert2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    // Define las URLs de Django como variables globales
    const LOGIN_URL = "{% url 'accounts:login' %}";
</script>
<script src="{% static 'accounts/js/registro.js' %}"></script>
</html>
