{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro - NutriLink</title>
    <link rel="stylesheet" href="{% static 'accounts/css/registro2.css' %}">
</head>
<body>
    <!-- LOGO -->
    <main class="registro-page">
        <div class="brand-section">
            <div class="logo">
                <img src="{% static 'img/NutrilinkLOGO.svg' %}" alt="Logo de nutrilink">
            </div>
        </div>
        <!-- Seccion bienvenida registro -->
        <div class="container">
            <div class="card">
                <h2 class="title">Regístrate y potencia tus consultas!</h2>
                <p class="subtitle">Comienza a usar nuestra plataforma hoy mismo</p>
                <ul class="benefits">
                    <li> 
                        <img src="{% static 'accounts/img/tick-mark-icon.svg' %}" alt="Visualiza progreso" />
                        Visualiza el progreso de tus pacientes en gráficos.</li>
                    <li> 
                        <img src="{% static 'accounts/img/tick-mark-icon.svg' %}" alt="Visualiza progreso" />
                        Calcula requerimientos calóricos y macronutrientes en segundos.</li>
                    <li> 
                        <img src="{% static 'accounts/img/tick-mark-icon.svg' %}" alt="Visualiza progreso" />
                        Genera minutas rápidamente y más!</li>
                </ul>
                <form method="#" action="#">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-col">
                            <div class="form-group">
                                <label for="primerNombre">Primer nombre:</label>
                                <input type="text" id="primerNombre" class="form-control" placeholder="Ingresar nombre">
                            </div>
                        </div>
                        <div class="form-col">
                            <div class="form-group">
                                <label for="apellidoP">Primer apellido:</label>
                                <input type="text" id="apellidoP" class="form-control" placeholder="Ingresar apellido">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-col">
                            <div class="form-group">
                                <label for="rut">Rut:</label>
                                <input type="text" id="rut" class="form-control" placeholder="99.999.999">
                            </div>
                        </div>
                        <div class="form-col">
                            <div class="form-group">
                                <label for="email">Correo:</label>
                                <input type="email" id="email" class="form-control" placeholder="Ingresar correo">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-col">
                            <div class="form-group">
                                <label for="contraseña">Contraseña:</label>
                                <input type="password" id="contraseña" class="form-control" placeholder="Ingresar contraseña">
                            </div>
                        </div>
                        <div class="form-col">
                            <div class="form-group">
                                <label for="confirmarC">Confirmar contraseña:</label>
                                <input type="password" id="confirmarC" class="form-control" placeholder="Confirmar contraseña">
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn-register">REGISTRARSE</button>
                </form>
                <p class="login-link">Ya tienes cuenta? <a href="{% url 'accounts:login' %}">Iniciar sesión</a></p>
            </div>
        </div>
    </main>
</body>
</html>
