{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
<link href="{% static 'basePerfil.css' %}" rel="stylesheet" />
<link href="{% static 'patients/css/info-general.css' %}" rel="stylesheet" />
<link href="{% static 'patients/css/historial-clinico.css' %}" rel="stylesheet" >
<link href="{% static 'patients/css/metricas.css' %}" rel="stylesheet" >

<div class="patient-profile-container">
  <!-- Card de perfil -->
  <div class="patient-card">
    <div class="profile-header">
      <div class="avatar-section">
        <div class="avatar-icon"><i class="bi bi-person-fill"></i></div>
        <div><!--Datos en duro por el momento -->
          <div class="patient-name" id="patient-name">{{ paciente.nombre_completo }}</div>
          <div class="patient-rut" id="patient-rut">RUT: {{ paciente.rut_paciente }}</div>
        </div>
      </div>
      <div class="divider"></div>
      <div class="info-section container">
        <div class="basic-info-title mb-3">Información Básica</div>
        <div class="row">
          <div class="col-md-6">
            <div class="basic-info-item"><strong>Edad: </strong> <span id="patient-age">{{ paciente.edad }}</span> años</div>
            <div class="basic-info-item mt-2"><strong>Género: </strong><span id="patient-gender">{{ paciente.sexo }}</span></div>
          </div>
          <div class="col-md-6">
            <div class="basic-info-item"><strong>Teléfono: </strong><span id="patient-phone">{{ paciente.telefono }}</span></div>
            <div class="basic-info-item"><strong>Correo: </strong> <span id="patient-email">{{ paciente.correo }}</span></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Navbar secciones del paciente -->
  <div class="nav-buttons">
    <a href="{% url 'patients:info-general' id_paciente=paciente.id_paciente %}" class="nav-button {% if section == 'info-general' %}active{% endif %}" data-section="info-general">
      <i class="bi bi-info-circle"></i> Información general
    </a>
    <a href="{% url 'patients:historial-clinico' id_paciente=paciente.id_paciente %}" class="nav-button {% if section == 'historial-clinico' %}active{% endif %}" data-section="historial-clinico">
      <i class="bi bi-file-earmark-medical"></i> Historial clínico
    </a>
    <a href="{% url 'patients:metricas' id_paciente=paciente.id_paciente %}" class="nav-button {% if section == 'metricas' %}active{% endif %}" data-section="metricas">
      <i class="bi bi-graph-up"></i> Métricas
    </a>
    <a href="{% url 'patients:registro-dietario' id_paciente=paciente.id_paciente %}" class="nav-button {% if section == 'indicaciones' %}active{% endif %}" data-section="indicaciones">
      <i class="bi bi-list-check"></i> Registro dietario
    </a>
    <a href="{% url 'patients:minuta' id_paciente=paciente.id_paciente %}" class="nav-button {% if section == 'indicaciones' %}active{% endif %}" data-section="indicaciones">
      <i class="bi bi-list-check"></i> Indicaciones
    </a>
  </div>
</div>

<div class="dynamic-content-container">
  {% block perfilcontent %}
  <!-- Aquí se inserta el contenido específico de cada vista hija -->
  {% endblock %}
</div>
{% endblock %}
