:root {
  font-size: 16px;
  --primary-color: #173b4c;
  --secondary-color: #3f5c69;
  --accent-color: #62f485;
  --text-color: #000000;
  --light-text: #747474;
  --white: #ffffff;
  --shadow: #d1d0d057;
}

.dynamic-content-container {
  width: 100%;
}
  .avatar-section {
    display: flex;
    align-items: center;
    flex: 1;
  }
  
  .info-section {
    flex: 1;
  }
  
  
  .patient-rut {
    color: #6c757d;
  }
  
  .basic-info-title {
    color: var(--light-text);
    font-weight: 600;
    margin-bottom: 1rem;
  }
  
  .basic-info-item {
    margin-bottom: 0.5rem;
    color: #555;
  }
  
  .nav-button:hover {
    color: #0d6efd;
    background: #f0f7ff;
  }
  
  .nav-button.active {
    color: #0d6efd;
    border-bottom: 3px solid #0d6efd;
    background: #f0f7ff;
  }
  
  .nav-button i {
    margin-right: 8px;
    font-size: 1.1rem;
  }
  
  .patient-content {
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  }

/* Contenedor general al lado del sidebar */
.patient-profile-container {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin-left: 240px;  /* margin del sidebar */
  margin-top: 20px;
  padding: 0 20px;
  gap: 20px;
}

.patient-card {
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(19, 19, 19, 0.08);
  border: none;
  margin-bottom: 20px;
  padding: 20px;
  width: 100%;
}

.profile-header {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
}

.avatar-icon {
  font-size: 3.5rem;
  color: #6c757d;
  background: #f8f9fa;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.divider {
  height: auto;
  width: 1px;
  background: #e0e0e0;
  margin: 0 20px;
}
.patient-name {
  font-size: 1.25rem;
  margin-bottom: 0.3rem;
}

/* Botones de navegación */
.nav-buttons {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #f0f0f0;
  margin-top: 10px;
  background: #f9f9f9;
}

.nav-button {
  flex: 1;
  text-align: center;
  padding: 15px;
  color: #6c757d;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s;
  border-bottom: 3px solid transparent;
}
